<%- include('./header') %>
  <style>
    .content-main-login {
      background: white;
      max-width: 90vw;
      width: 100%;
    }

    .candidatos-container h1 {
      color: black;
    }

    .candidatos-container {
      width: 100%;
    }

    .candidatos-container form {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .candidatos-container form input {
      width: 95%;
    }

    .candidatos-container form button {
      width: 15%;
    }

    .candidatos-container table {
      width: 100%;
    }

    .candidatos-container th {
      text-align: left;
      font-size: 18px;
      font-weight: bold;
    }

    .candidatos-container th,
    .candidatos-container td {
      padding: 20px;
    }

    .candidatos-container tr:nth-child(odd) {
      background-color: white;
    }

    .candidatos-container tr:nth-child(even) {
      background-color: #aeaeae44;
    }

    .btnselecionar {
      width: unset !important;
    }

    .suggestions {
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: white;
      border: 1px solid #ccc;
      max-height: 200px;
      overflow-y: auto;
      width: 95%;
      z-index: 1000;
      cursor: pointer;
    }

    .suggestions li {
      padding: 8px;
      cursor: pointer;
    }

    .suggestions li:hover {
      background-color: #f0f0f0;
    }
    .alinhamento-filtros select {
      width: 24%;
    }
    .idiomas {
      width: 97%;
    }
  </style>
<style>
      .table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Suporte para rolagem suave no mobile */
}

.table-responsive table {
  width: 100%;
  border-collapse: collapse;
}

  @media (max-width: 980px) {
    .content-main-login {
      padding: 23px;
    }
    .candidatos-container form button {
      width: 100%;
    }

  }


</style>
  <div class="main-login">
    <div class="content-main-login">
      <div class="candidatos-container">
        <h1>Candidatos para a vaga: <%= vaga.titulo %>
        </h1>

        <!-- Formulário de Filtros -->
        <form action="/empresa/vagas/<%= vagaId %>/candidatos" method="GET" style="margin-bottom: 20px;">
          <!-- Searchbar -->
          <input type="text" name="busca" placeholder="Buscar candidaturas..." value="<%= busca || '' %>" />

          <!-- Filtro de Faixa Salarial -->
          
          <div class="alinhamento-filtros">
            <select name="faixaSalarial">
              <option value="">Selecione a faixa salarial</option>
              <option value="Até 2.000" <%=faixaSalarial==='Até 2.000' ? 'selected' : '' %>>Até 2.000</option>
              <option value="A partir de R$ 2.000,00" <%=faixaSalarial==='A partir de R$ 2.000,00' ? 'selected' : '' %>>A partir de R$ 2.000,00</option>
              <option value="A partir de R$ 3.000,00" <%=faixaSalarial==='A partir de R$ 3.000,00' ? 'selected' : '' %>>A partir de R$ 3.000,00</option>
              <option value="A partir de R$ 4.000,00" <%=faixaSalarial==='A partir de R$ 4.000,00' ? 'selected' : '' %>>A partir de R$ 4.000,00</option>
              <option value="A partir de R$ 5.000,00" <%=faixaSalarial==='A partir de R$ 5.000,00' ? 'selected' : '' %>>A partir de R$ 5.000,00</option>
              <option value="A partir de R$ 6.000,00" <%=faixaSalarial==='A partir de R$ 6.000,00' ? 'selected' : '' %>>A partir de R$ 6.000,00</option>
              <option value="A partir de R$ 7.000,00" <%=faixaSalarial==='A partir de R$ 7.000,00' ? 'selected' : '' %>>A partir de R$ 7.000,00</option>
              <option value="A partir de R$ 8.000,00" <%=faixaSalarial==='A partir de R$ 8.000,00' ? 'selected' : '' %>>A partir de R$ 8.000,00</option>
              <option value="A partir de R$ 9.000,00" <%=faixaSalarial==='A partir de R$ 9.000,00' ? 'selected' : '' %>>A partir de R$ 9.000,00</option>
              <option value="A partir de R$ 10.000,00" <%=faixaSalarial==='A partir de R$ 10.000,00' ? 'selected' : '' %>>A partir de R$ 10.000,00</option>
              <option value="A partir de R$ 15.000,00" <%=faixaSalarial==='A partir de R$ 15.000,00' ? 'selected' : '' %>>A partir de R$ 15.000,00</option>
              <option value="A partir de R$ 20.000,00" <%=faixaSalarial==='A partir de R$ 20.000,00' ? 'selected' : '' %>>A partir de R$ 20.000,00</option>
              <!-- Continue com as demais opções -->
            </select>
            <select name="tipoContrato">
              <option value="">Selecione o tipo de contrato</option>
              <option value="CLT" <%=tipoContrato==='CLT' ? 'selected' : '' %>>CLT</option>
              <option value="PJ" <%=tipoContrato==='PJ' ? 'selected' : '' %>>PJ</option>
              <option value="Temporário" <%=tipoContrato==='Temporário' ? 'selected' : '' %>>Temporário</option>
              <option value="Autônomo" <%=tipoContrato==='Autônomo' ? 'selected' : '' %>>Autônomo</option>
              <option value="Estágio" <%=tipoContrato==='Estágio' ? 'selected' : '' %>>Estágio</option>
              <option value="Freelancer" <%=tipoContrato==='Freelancer' ? 'selected' : '' %>>Freelancer</option>
              <option value="Aprendiz" <%=tipoContrato==='Aprendiz' ? 'selected' : '' %>>Aprendiz</option>
              <!-- Continue com as opções -->
            </select>
            <select name="disponibilidade">
              <option value="">Selecione a disponibilidade</option>
              <option value="manha" <%=disponibilidade==='manha' ? 'selected' : '' %>>Manhã</option>
              <option value="tarde" <%=disponibilidade==='tarde' ? 'selected' : '' %>>Tarde</option>
              <option value="Noite" <%=disponibilidade==='Noite' ? 'selected' : '' %>>Noite</option>
              <option value="Madrugada" <%=disponibilidade==='Madrugada' ? 'selected' : '' %>>Madrugada</option>
              <option value="Finais de Semana" <%=disponibilidade==='Finais de Semana' ? 'selected' : '' %>>Finais de Semana</option>
              <option value="Feriados" <%=disponibilidade==='Feriados' ? 'selected' : '' %>>Feriados</option>
              <option value="Viajar" <%=disponibilidade==='Viajar' ? 'selected' : '' %>>Viajar</option>
              <!-- Continue com as opções -->
            </select>
            <select name="escolaridade">
              <option value="">Selecione a escolaridade</option>
              <option value="Indiferente" <%=escolaridade==='Indiferente' ? 'selected' : '' %>>Indiferente</option>
              <option value="Alfabetizado" <%=escolaridade==='Alfabetizado' ? 'selected' : '' %>>Alfabetizado</option>        
                <option value="Ensino fundamental incompleto" <%=escolaridade==='Ensino fundamental incompleto' ? 'selected' : '' %>>Ensino fundamental incompleto</option>
                <option value="Ensino fundamental completo" <%=escolaridade==='Ensino fundamental completo' ? 'selected' : '' %>>Ensino fundamental completo</option>
                <option value="Ensino médio incompleto" <%=escolaridade==='Ensino médio incompleto' ? 'selected' : '' %>>Ensino médio incompleto</option>
                <option value="Ensino médio completo" <%=escolaridade==='Ensino médio completo' ? 'selected' : '' %>>Ensino médio completo</option>
                <option value="Ensino técnico ou profissionalizante incompleto" <%=escolaridade==='Ensino técnico ou profissionalizante incompleto' ? 'selected' : '' %>>Ensino técnico ou profissionalizante incompleto</option>
                <option value="Ensino técnico ou profissionalizante completo" <%=escolaridade==='Ensino técnico ou profissionalizante completo' ? 'selected' : '' %>>Ensino técnico ou profissionalizante completo</option>
                <option value="Ensino tecnólogo incompleto" <%=escolaridade==='Ensino tecnólogo incompleto' ? 'selected' : '' %>>Ensino tecnólogo incompleto</option>
                <option value="Ensino tecnólogo completo" <%=escolaridade==='Ensino tecnólogo completo' ? 'selected' : '' %>>Ensino tecnólogo completo</option>
                <option value="Ensino superior incompleto" <%=escolaridade==='Ensino superior incompleto' ? 'selected' : '' %>>Ensino superior incompleto</option>
                <option value="Ensino superior completo" <%=escolaridade==='Ensino superior completo' ? 'selected' : '' %>>Ensino superior completo</option>
                <option value="Pós graduação incompleta" <%=escolaridade==='Pós graduação incompleta' ? 'selected' : '' %>>Pós graduação incompleta</option>
                <option value="Pós graduação completa" <%=escolaridade==='Pós graduação completa' ? 'selected' : '' %>>Pós graduação completa</option>
              <!-- Continue com as opções -->
            </select>
          </div>
          <!-- Filtro de Tipo de Contrato -->
          

          <!-- Autocomplete para Ocupações -->
          <input type="text" id="ocupacao" name="ocupacao" placeholder="Digite a ocupação"
            value="<%= ocupacao || '' %>" />
          <ul id="suggestions" class="suggestions"></ul>

          <!-- Filtro de Escolaridade -->
          

          <!-- Filtro de Disponibilidade -->
          

          <!-- Filtro de Idiomas -->
          <select name="idiomas[]" class="idiomas">
            <option value="Português" <%=idiomas && idiomas.includes('Português') ? 'selected' : '' %>>Português
            </option>
            <option value="Inglês" <%=idiomas && idiomas.includes('Inglês') ? 'selected' : '' %>>Inglês</option>
            <option value="Mandarim" <%=idiomas && idiomas.includes('Mandarim') ? 'selected' : '' %>>Mandarim</option>
            <option value="Espanhol" <%=idiomas && idiomas.includes('Espanhol') ? 'selected' : '' %>>Espanhol</option>
            <option value="Francês" <%=idiomas && idiomas.includes('Francês') ? 'selected' : '' %>>Francês</option>
            <option value="Árabe" <%=idiomas && idiomas.includes('Árabe') ? 'selected' : '' %>>Árabe</option>
            <option value="Outro" <%=idiomas && idiomas.includes('Outro') ? 'selected' : '' %>>Outro</option>
            <!-- Continue com as opções -->
          </select>

          <!-- Botão de Buscar -->
          <button type="submit">Buscar</button>
        </form>

        <% if (candidaturas.length> 0) { %>
         <div class="table-responsive">
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% candidaturas.forEach(candidatura=> { %>
                <tr>
                  <td>
                    <%= candidatura.candidato.nomeCompleto %>
                  </td>
                  <td>
                    <%= candidatura.candidato.email %>
                  </td>
                  <td>
                    <%= candidatura.candidato.telefone %>
                  </td>
                  <td>
                    <a href="/empresa/candidatos/<%= candidatura.candidato.id %>">Ver mais</a>
                  </td>
                  <td>
                    <% if (candidatura.selecionado) { %>
                      <span class="badge badge-success">Selecionado</span>
                      <% } else { %>
                        <form
                          action="/empresa/vagas/<%= vagaId %>/candidatos/<%= candidatura.candidato.id %>/selecionar"
                          method="POST">
                          <button type="submit" class="btn btn-success btnselecionar">Selecionar</button>
                        </form>
                        <% } %>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
         </div>

          <nav>
            <ul class="pagination">
              <% for (let i=1; i <=totalPages; i++) { %>
                <li class="<%= i === currentPage ? 'active' : '' %>">
                  <a href="/empresa/vagas/<%= vagaId %>/candidatos?page=<%= i %>&busca=<%= busca %>">
                    <%= i %>
                  </a>
                </li>
                <% } %>
            </ul>
          </nav>
          <% } else { %>
            <p>Nenhum candidato encontrado para esta vaga.</p>
            <% } %>
      </div>
    </div>
  </div>
  <script src="/js/autocompletebuscacandidato.js"></script>

  <%- include('../partials/footer') %>