<%- include('./header') %>
<style>
  .opcoes {
    gap: 10px;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 10px;
  }
</style>
  <div class="main-dashboard">
    <h1>Bem-vindo, <%= empresa.nomeFantasia %>!</h1>
    <div class="opcoes">
      <a href="/empresa/vagas">Ver Minhas Vagas</a>
      <a href="/empresa/vagas/criar">Criar Vaga</a>
      <a href="/empresa/editar-perfil" class="btn-editar-perfil">Editar Perfil Social</a>
    </div>
    <div class="seus-dados">
      <% if (empresa.logo) { %>
        <img src="/<%= empresa.logo %>" alt="Logo da empresa" style="max-width: 400px; max-height: 400px;">
      <% } else { %>
        <p>Sem logo disponível</p>
      <% } %>
      
      
      <p><strong>Razão Social:</strong> <%= empresa.razaoSocial %></p>
      <p><strong>CNPJ:</strong> <%= empresa.cnpj %></p>
      <p><strong>Telefone:</strong> <%= empresa.telefone %></p>
      <p><strong>Whatsapp:</strong> <%= empresa.whatsapp %></p>
      <p><strong>Endereço:</strong> <%= empresa.logradouro %>, <%= empresa.numero %>, <%= empresa.bairro %>, <%= empresa.cidade %> - <%= empresa.uf %></p>
    
      <% if (empresa.sobre) { %>
        <p><strong>Sobre:</strong> <%= empresa.sobre %></p>
      <% } %>
      <div class="linha"></div>
      <h2>Dados Oficiais de Registro da sua empresa</h2><br>
      <form action="/empresa/editar" method="POST">
        <div class="conteudo-form">

        <div class="campos">

          <div class="s-campo">
            <strong>Razão Social:</strong>
            <input type="text" name="razaoSocial" value="<%= empresa.razaoSocial %>" required>
          </div>    
          <div class="s-campo">
            <strong>Nome Fantasia:</strong>
            <input type="text" name="nomeFantasia" value="<%= empresa.nomeFantasia %>" required>
          </div>    
          <div class="s-campo">
            <strong>CNPJ:</strong>
            <input type="text" name="cnpj" value="<%= empresa.cnpj %>" required>
          </div>

        </div>   

        <div class="campos">

          <div class="s-campo">
            <strong>Inscrição Estadual:</strong>
            <input type="text" name="ie" value="<%= empresa.ie %>">
          </div>    
          <div class="s-campo">
            <strong>CEP:</strong>
            <input type="text" name="cep" value="<%= empresa.cep %>" required>
          </div>    
          <div class="s-campo">
            <strong>Logradouro:</strong>
            <input type="text" name="logradouro" value="<%= empresa.logradouro %>" required>  
          </div> 

        </div>
        <div class="campos">

          <div class="s-campo">
            <strong>Número:</strong>
            <input type="text" name="numero" value="<%= empresa.numero %>" required>
          </div>    
          <div class="s-campo">
            <strong>Bairro:</strong>
            <input type="text" name="bairro" value="<%= empresa.bairro %>" required>
          </div>    
          <div class="s-campo">
            <strong>Cidade:</strong>
            <input type="text" name="cidade" value="<%= empresa.cidade %>" required>
          </div> 
           
        </div>
        <div class="campos">

          <div class="s-campo">
            <strong>Estado:</strong>
            <input type="text" name="uf" value="<%= empresa.uf %>" required>
          </div>    
          <div class="s-campo">
            <strong>Telefone:</strong>
            <input type="text" name="telefone" value="<%= empresa.telefone %>" required>
          </div>    
          <div class="s-campo">
            <strong>Whatsapp:</strong>
            <input type="text" name="whatsapp" value="<%= empresa.whatsapp %>" required>
          </div>
  
        </div>

        <div class="campos">

          <div class="s-campo">
            <strong>Responsável:</strong>
            <input type="text" name="responsavel" value="<%= empresa.responsavel %>" required>
          </div>    
          <div class="s-campo">
            <strong>E-mail:</strong>
            <input type="email" name="email" value="<%= empresa.email %>" required>
          </div>

        </div>
        
        </div>
        <button type="submit">Salvar Alterações</button>
      </form>
     

    </div>

   


  </div>
  <%- include('../partials/footer') %>