<%- include('./header') %>
  <style>
    .main-dashboard-candidato h1 {
      color: white;
      font-size: 30px;
      margin-bottom: 25px;
    }

    .content-main-login form {
      width: 100%;
    }
    .main-dashboard-candidato  ul {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    .main-dashboard-candidato li {
      background: white;
      padding: 10px;
    }
    .excl {
      font-size: 14px !important;
      background: red !important;
    }
    .main-dashboard-candidato h2 {
      color: white;
    font-size: 30px;
    margin: 25px 0px;
    }
  </style>
  <section class="candidato-superior">
    <div class="main-login">
      <div class="content-main-login">
        <div class="main-dashboard-candidato">
          <h1>Lançar Novo Curso</h1>

          <form action="/candidato/lancar-curso" method="POST">
            <label for="instituicao">Instituição:</label>
            <input type="text" id="instituicao" name="instituicao" required>

            <label for="curso">Curso:</label>
            <input type="text" id="curso" name="curso" required>

            <label for="dataInicio">Data de Início:</label>
            <input type="date" id="dataInicio" name="dataInicio" required>

            <label for="dataConclusao">Data de Conclusão:</label>
            <input type="date" id="dataConclusao" name="dataConclusao">

            <button type="submit">Salvar Curso</button>
          </form>

          <hr>

          <h2>Meus Cursos</h2>
          <ul>
            <% if (cursos.length> 0) { %>
              <% cursos.forEach(curso=> { %>
                <li>
                  <strong>
                    <%= curso.curso %>
                  </strong> - <%= curso.instituicao %>
                    (<%= curso.dataInicio.toLocaleDateString() %> a
                      <%= curso.dataConclusao ? curso.dataConclusao.toLocaleDateString() : 'Atual' %>)
                        <form action="/candidato/lancar-curso/excluir/<%= curso.id %>" method="POST"
                          style="display: inline;">
                          <button class="excl" type="submit"
                            onclick="return confirm('Tem certeza que deseja excluir este curso?')">Excluir</button>
                        </form>
                </li>
                <% }) %>
                  <% } else { %>
                    <p>Você ainda não listou nenhum curso.</p>
                    <% } %>
          </ul>

        </div>
      </div>
    </div>
  </section>
  <%- include('../partials/footer') %>